doctype html
html(lang="fr")
    head
        link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://getbootstrap.com/docs/4.1/examples/product/product.css", rel="stylesheet")
        link(href="css/main.css", rel="stylesheet")
        meta(charset="ut-8")
        title Mon super blog de la mort
    body
        nav.site-header.sticky-top.py-1
            div.container.d-flex.flex-column.flex-md-row.justify-content-between
                a(href="/", class="py-2 d-none d-md-inline-block") Accueil
                a(href="/contact", class="py-2 d-none d-md-inline-block") Contact
        block content        